@import url("https://fonts.googleapis.com/css2?family=Style+Script&display=swap");

.app {
  font-family: "Style Script", cursive;
  font-size: 1.5em;
  width: 60%;
  justify-content: center;
  align-items: center;
  margin: auto;
}

h1 {
  font-size: 2em;
  text-align: center;
}
